body, main, figure, figcaption, img {
  margin: 0;
  padding: 0;
}

main {
  font-size: 0;
  background-image: URL("https://d3jtzah944tvom.cloudfront.net/202/images/lesson_3/gradient-background.png");
}

figcaption {
  font-size: 1rem;
}

img {
  /* max-width: 100%; */
  /* width: 100%; */
  width: 100%;
}

figure {
  box-sizing: border-box;
  display: inline-block;
  margin: 50px 0;
  padding: 0 50px;
  /* outline: 1px solid red; */
}