@import url("modified_css_reset.css");

* {
  font-family: 'Nunito Sans', sans-serif;
  color: black;
  box-sizing: border-box;
}

header, main, footer {
  max-width: 1200px;
  min-width: 500px;
  margin: 0 auto;
  text-align: center;
}

body {
  background: #2f2840 url("images/bg_body.gif");
}

header {
  padding: 0 50px 50px 50px;
}

h1 {
  padding: 120px 0;
}

h2 {
  color: #45494d;
  font-size: 36px;
  padding-bottom: 40px;
}

h2:before, h2:after {
  display: inline-block;  
  padding: 0 24px;
  font-size: 22px;
  vertical-align: 5px;
  content: "\2022";
}

h3 {
  color: #3e59b2;
  font-size: 24px;
  padding-bottom: 30px;
}

ul li {  
  display: inline-block;
  font-size: 26px;
}

header ul li a {
  text-decoration: none; 
  color: #cacaca;
  padding: 0 50px; 
}

a.active {
  color: #6db9ff;
}

main {
  background-color:#ffffff;
  color: #838688;
  padding: 120px;
}

main figure img {
  width: 100%;
}

#project {
  padding: 120px 120px 0 120px;
}

main p {
  font-size: 20px;
}

#project article {
  padding: 50px 0;
}

#team article ul {
  padding-top: 135px;
}

#team article ul li {
  padding: 0 30px;
  font-size: 24px;
}

#team article ul li img {
  display: block;
}

#team article ul li a {
  text-decoration: none;
  color: #7185c7;
} 

article {
  padding-bottom: 70px;
}

footer {
  background-color: #e7e7e7;
  padding: 80px;
}

footer p {
  font-size: 20px;
  color: #b8b8b8;
  padding-bottom: 45px;;
}

footer ul {
  padding: 0;
  margin: 0;
}

footer li {
  display: inline-block;
  padding: 0 60px;
}

footer li a {
  background: transparent url("icons_social-media.png") 0 0 no-repeat;
  display: block;
  height: 46px;
  overflow: hidden;
  text-indent: -8685px;
  width: 46px;
}

footer li a.twitter {
  background-position: 0 0;
}

footer li a.facebook {
  background-position: 0 -46px;
}

footer li a.email {
  background-position: 0 -92px;
}

footer li a.instagram {
  background-position: 0 -138px;
}